<div class = 'root'>
    <div class = 'content'>
        <h1>Easy Password</h1>
        <br>
        <p>Password management system featuring two-factor authentication using facial recognition.</p>
        <br>
        <%= link_to "Sign Up", signup_path, class: 'btn btn-primary' %>
    </div>
</div>

