@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.container.main {
    padding-top: 60px
}
  
.root {
    height: 75%;
    width: 100%;
    padding: 1em; 
    background-color: rgb(198, 208, 224);

    //round corners
    border-radius: 10px;
}

.content {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    &:hover {
        text-decoration: none;
    }
}

.my-float{
    font-size: 40px;
}

.accounts {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }